* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #211305;
  color: white;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.max_container {
  width: 100%;
  max-width: 1550px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../img/joy_stick.png");
  background-repeat: no-repeat;
  background-position: 874px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  padding: 37px 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-btn {
  padding: 11px 28px;
  font-size: 13px;
  background-color: #FA9021;
  border-radius: 6px;
  margin-left: 37px;
  color: white;
}
.header__nav-btn:hover {
  background: rgba(255, 255, 255, 0.11);
}
.header__list {
  display: flex;
  align-items: center;
  gap: 88px;
}
.header__list-item__link {
  color: aliceblue;
}
.header__list-item__active {
  border-bottom: 4px solid #DC7000;
}

.hero {
  padding-top: 84px;
  padding-bottom: 84px;
}
.hero__start {
  position: relative;
}
.hero__start-span {
  color: #E87D0E;
  font-size: 20px;
  font-weight: 700;
  line-height: 31.04px;
  margin-bottom: 17px;
}
.hero__start-title {
  font-size: 50px;
  width: 480px;
  font-weight: 700;
  line-height: 77.6px;
  margin-bottom: 26px;
}
.hero__start-text {
  width: 527px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 50px;
}
.hero__start-btn {
  border: #E87D0E;
  color: aliceblue;
  padding: 15px 30px;
  background: linear-gradient(92deg, #FA8305 0%, #FB9E3C 100%);
  border-radius: 40px;
}
.hero__start-btn:hover {
  color: #ffffff;
  background: linear-gradient(92deg, #000000 0%, #e5dbd1 100%);
}
.hero__start-unity {
  position: absolute;
  top: 220px;
  left: 560px;
}
.hero__start-cry {
  position: absolute;
  top: 0;
  left: 770px;
}
.hero__start-unreal {
  position: absolute;
  top: 20px;
  right: 75px;
}

.games {
  padding-top: 100px;
  padding-bottom: 157px;
}
.games__start {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 57px;
}
.games__start-title {
  font-size: 31px;
  font-family: Rubik;
  font-weight: 700;
  line-height: 58.12px;
}
.games__start-btn {
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 20px;
  font-family: Rubik;
  font-weight: 500;
  line-height: 37.5px;
  color: white;
  border: 0;
}
.games__start-btn:hover {
  color: black;
  background-color: chocolate;
}
.games__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 129px;
}
.games__list-item__icon {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 25px;
  font-size: 22px;
  font-family: Rubik;
  font-weight: 500;
  line-height: 41.25px;
  margin-left: 40px;
}
.games__end-title {
  font-size: 35px;
  font-weight: 600;
  line-height: 65.62px;
  text-align: center;
  margin-bottom: 67px;
}
.games__end-title__zwei {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 32px;
  line-height: 56.25px;
}
.games__end-text {
  line-height: 30px;
  width: 545px;
  margin-bottom: 46px;
}
.games__end-img {
  width: 100%;
}

.erstellen {
  padding-top: 93px;
  padding-bottom: 93px;
  background-image: url("../../img/Rectangle5.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  overflow-x: hidden;
}
.erstellen__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 56.25px;
  margin-bottom: 25px;
}
.erstellen__text {
  line-height: 30px;
  margin-bottom: 100px;
}
.erstellen__list {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  text-align: center;
  justify-content: center;
}

.projects {
  padding-top: 148px;
  padding-bottom: 114px;
  text-align: center;
}
.projects__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 56.25px;
  margin-bottom: 15px;
}
.projects__text {
  font-size: 14px;
  line-height: 26.25px;
  margin-bottom: 71px;
}
.projects__img {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  margin-bottom: 72px;
}
.projects__btn {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 10px;
  font-size: 20px;
  font-family: Rubik;
  font-weight: 500;
  color: white;
  border: 0;
  line-height: 37.5px;
}
.projects__btn:hover {
  color: black;
  background-color: chocolate;
}/*# sourceMappingURL=styles.css.map */