* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #211305;
  color: white;
  
}