* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #000000;
  overflow-x: hidden;
  background-image: url("../img/joy_stick.png");
  background-repeat: no-repeat;
  background-position: 760px 0;
  top: 200px;
  color: white;
}