.Our-Team {
  padding-top: 148px;
  padding-bottom: 157px;
  &__title {
    font-size: 25px;
    font-weight: 600;
    line-height: 45.12px;
    margin-bottom: 53px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    &-item {
      background-color: #1C140F; 
      border-radius: 20px;
      padding: 35px 86px;
      text-align: center;
      &__title {
        font-size: 19px;
        font-weight: 600;
        line-height: 38.48px;
      }
    }
    &-item:hover {
      background: linear-gradient(92deg, #FA8305 0%, #FB9E3C 100%); 
      border-radius: 40px;
    }
  }
  
}