.work{
  padding-top: 100px;
  padding-bottom: 147px;
  &__title{
    font-size: 25px;
    font-weight: 600;
    line-height: 45.12px; 
    margin-bottom: 63px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    
    &-item {
      padding: 64px 37px;
      background-color: #1C140F; 
      box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.15); 
      border-radius: 20px;
      &__btn{
        padding: 10px 25px;
        margin-bottom: 25px;
        background-color: rgba(176, 0, 220, 0.11); 
        border-radius: 8px;
        line-height: 26.25px;
        color: white;
        border: 0;
      }
      &__btn2{
        padding: 10px 25px;
        margin-bottom: 25px;
        background-color: rgba(220, 66, 0, 0.11);
        border-radius: 8px;
        line-height: 26.25px;
        color: white;
        border: 0;
      }
      &__btn3{
        padding: 10px 25px;
        margin-bottom: 25px;
        background-color: rgba(0, 220, 140.80, 0.11);
        border-radius: 8px;
        line-height: 26.25px;
        color: white;
        border: 0;
      }
      &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 37.50px;
        margin-bottom: 16px;

      }
      &__text {
        line-height: 26.25px;
        font-size: 14px;
        width: 304px;
      }
    }
    &-item:hover{
      background: linear-gradient(92deg, #FA8305 0%, #FB9E3C 100%); 
      border-radius: 40px;
    }
  }
}