.wrapper {
  padding-bottom: 70px;
  &__start{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 72px;
    }
  &__left {
    &-group {
      padding-bottom: 90px; 
      width: 587px;
      &__btn{                                           
        line-height: 30px;                              
        color: #FFFCFC;
        margin-top: 21px;
        margin-right: 20px;
        padding: 10px 30px;
        margin-bottom: 21px;
        border: 0;
        background-color: #2351F5;
      }
      &__title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 32px;
        width: 576px;
      }
      &__text {
        width: 530px;
        font-size: 17px;
        line-height: 35.33px;
        margin-top: 32px;

      }
    }
    &-group:nth-child(1){
      border-bottom: 1px solid  #A5A5A5;
      margin-bottom: 90px;
    }
  }
  &__right {
    &-group {
      display: flex;
      align-items: center;
      gap: 31px;
      margin-bottom: 60px;
      &__btn {
        line-height: 30px;                              
        color: #FFFCFC;
        margin-right: 20px;
        padding: 10px 30px;
        margin-bottom: 23px;
        border: 0;
        background-color: #FF8484;
      }
      &__btn2{
        line-height: 30px;                              
        color: #FFFCFC;
        margin-right: 20px;
        padding: 10px 30px;
        margin-bottom: 23px;
        border: 0;
        background-color: #2351F5;            
      }
      &__btn3{
        line-height: 30px;                              
        color: #FFFCFC;
        margin-right: 20px;
        padding: 10px 30px;
        margin-bottom: 23px;
        border: 0;
        background-color: #FF7C32;            
      }
      &__btn4{
        line-height: 30px;                              
        color: #FFFCFC;
        margin-right: 20px;
        padding: 10px 30px;
        margin-bottom: 23px;
        border: 0;
        background-color: #94fd00;            
      }
      &__btn5{
        line-height: 30px;                              
        color: #FFFCFC;
        margin-right: 20px;
        padding: 10px 30px;
        margin-bottom: 23px;
        border: 0;
        background-color: #23A54F;            
      }
      &__btn6{
        line-height: 30px;                              
        color: #FFFCFC;
        margin-right: 20px;
        padding: 10px 30px;
        margin-bottom: 23px;
        border: 0;
        background-color: #f33b03;            
      }
      &__btn7{
        line-height: 30px;                              
        color: #FFFCFC;
        margin-right: 20px;
        padding: 10px 30px;
        margin-bottom: 23px;
        border: 0;
        background-color: #9921C3;            
      }
      &__text {
        width: 392px;
        font-size: 23px;
        font-weight: 600;
      }
    }
  }

}